services:
  db:
    image: postgres:16-alpine
    container_name: hearth-db-dev
    environment:
      POSTGRES_USER: hearth_user
      POSTGRES_PASSWORD: hearth_password
      POSTGRES_DB: hearthstone
    ports:
      - '5432:5432'
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: hearth-redis-dev
    ports:
      - '6379:6379'

volumes:
  postgres_data_dev:
